.dataGrid {
    border-radius: 20px !important;
}

.dataGrid :global(.MuiDataGrid-columnHeader) {
    width: 100% !important;
    background-color: #eeba5a !important;
    color: hsl(210, 9%, 31%) !important;
    font-size: 15px !important;
}

.dataGrid :global(.MuiDataGrid-row:nth-child(even)) {
    background-color: #fff8f0 !important;
}

.dataGrid :global(.MuiDataGrid-row:hover) {
    background-color: #ffeaa7 !important;
    cursor: pointer !important;
}

.dataGrid :global(.MuiDataGrid-cell) {
    color: #495057 !important;
    font-size: 14px !important;
    border-bottom: 1px solid #eeba5a !important;
}

.dataGrid :global(.MuiDataGrid-cell:focus) {
    outline: none !important;
}

.role, .product{
    text-transform: capitalize;
}

.btnView {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.85rem;
    transition: background 0.3s ease;
    background-color: #007bff60;
}

.btnView:hover {
    background-color: #007bff;
    color: white;
}

@media (max-width: 1335px) {
    .tableContainer {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .tableContainer {
        width: 80%;    
    }
}