.oldOrdersBody{
    background-color: #d1d1d1;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    min-height: 100vh;
    display: flex;
    flex-direction: column;}

.oldOrdersContainer {
    flex: 1;
    display: grid;
    grid-template-columns: 2fr; /* افتراضيًا عمود واحد للشاشات الصغيرة */
    gap: 20px; /* مسافة بين الصفوف */
    padding: 25px;
    justify-items: center; /* يجعل العناصر في المنتصف أفقيًا */
}

.oldOrdersH2 {
    text-align: center;
    font-size: 25pt;
    margin-bottom: 1px;
}

.oldOrdersLoader{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45.7vh;
    padding: 20px; 
}

.oldOrdersP{
    display: flex;
    align-items: center; 
    font-size: 17px;
    justify-items: center;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-size: 40px;
    font-family: system-ui,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #0000;
    -webkit-text-stroke: 1px #000;
    background: 
        linear-gradient(-60deg,#0000 45%,#000 0 55%,#0000 0) 
        0/300% 100% no-repeat text;
    animation: l3 2s linear infinite;
}
.loader:before {
    content: "Loading";
}
@keyframes l3 {
    0%{background-position: 100%}
}

/* استعلام الوسائط للشاشات الأكبر */
@media (min-width: 768px) {
    .oldOrdersContainer {
        grid-template-columns: repeat(1, 2fr); /* عمودان للشاشات الأكبر */
    }
}
