.body{
    background-color: #d1d1d1;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.profileContainer {
    display: flex;
    flex-direction: column;  /* Ensure items are stacked vertically */
    justify-content: center;
    align-items: center;
    min-height: 6vh;
    gap: 20px;  /* Adds spacing between each profile */
    margin-bottom: 1%;
}

.List{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rejectLoader{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45.7vh;
    padding: 20px; 
}

  /* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-size: 40px;
    font-family: system-ui,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #0000;
    -webkit-text-stroke: 1px #000;
    background: 
        linear-gradient(-60deg,#0000 45%,#000 0 55%,#0000 0) 
        0/300% 100% no-repeat text;
    animation: l3 2s linear infinite;
}
.loader:before {
    content: "Loading";
}
@keyframes l3 {
    0%{background-position: 100%}
}