/* Card */
.concreteOrdersContainerCard {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 62.2vh;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap; /* يجعل العناصر تتكيف مع أحجام الشاشات الأصغر */
    background-color: #998d77cb;
    background-image: url("https://www.transparenttextures.com/patterns/groovepaper.png");
}

.QuickOrdersCardMedia {
    background-image: url('../../../../../public/images/quickOrders.png');
    background-size: 50vh ; 
    background-position: center;
}

.BasicOrdersCardMedia {
    background-image: url('../../../../../public/images/basicOrders.png');
    background-size: cover;
    background-position: center;
}

.cardContent {
    background-color: #776B5D;
    text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .concreteOrdersCard {
        flex-direction: column; /* العناصر تتحول إلى عمودي للشاشات الصغيرة */
        gap: 20px;
        width: auto;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .QuickOrdersCardMedia {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .cardContent {
        font-size: 14px; /* تصغير النص للشاشات الصغيرة */
    }
}
