.body{
  background-color: #d1d1d1;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.profileContainer {
  display: flex;
  flex-direction: column;  /* Ensure items are stacked vertically */
  justify-content: center;
  align-items: center;
  min-height: 6vh;
  gap: 20px;  /* Adds spacing between each profile */
  margin-bottom: 1%;
}

.profileRow {
  background-color: #ffffff9a;
  padding: 20px 40px;  /* Adjusted padding for better spacing */
  width: 80%;  /* Adjust width to make it more responsive */
  max-width: 500px;  /* Set a max width for better control */
  border-radius: 10px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  text-align: left;  /* Ensure text aligns properly */
}

.profileRow p {
  font-size: 18px;
  margin: 8px 0;  /* Adjusted margin for better spacing */
}

.profileRow a {
  text-decoration: none;
}

.profileRow a:hover {
  text-decoration: underline;
}
.List{
  display: flex;
  justify-content: center;
  align-items: center;
}




.pendingButtonDrop{
background-color: #C40C0C;
width: 100%;
border: none;
font-size: 20px;
color: white;
border-radius: 5px;
padding: 8px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.pendingButtonDrop:hover{
background-color: #ff0000fa;
}

.approveDownloadButton{
  background-color: #4CAF50; 
  color: white; 
  padding: 5px 5px;
  font-size: 14px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.approveDownloadButton:hover{
  background-color: #45a049; 
}

.approveDownloadButton:active{
  background-color: #3e8e41; 
}

.profileLoader{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45.7vh;
  padding: 20px; 
}

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-size: 40px;
  font-family: system-ui,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background: 
    linear-gradient(-60deg,#0000 45%,#000 0 55%,#0000 0) 
    0/300% 100% no-repeat text;
  animation: l3 2s linear infinite;
}
.loader:before {
  content: "Loading";
}
@keyframes l3 {
  0%{background-position: 100%}
}