.body{
  background-color: #d1d1d1;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.profileContainer {
  display: flex;
  flex-direction: column;  /* Ensure items are stacked vertically */
  justify-content: center;
  align-items: center;
  min-height: 6vh;
  gap: 20px;  /* Adds spacing between each profile */
  margin: 2% 0 0 0;
}

.toggleButton {
  background: none;
  border: none;
  cursor: pointer;
}

.List {
  display: flex;
  align-items: center;
  padding-right: 25px;
  position: relative;
}

.arrowIcon {
  position: absolute;
  right: -4%;
  background-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: transform 0.3s, background-color 0.3s;
}

/* Animate on hover */
.toggleButton:hover .arrowIcon {
  transform: translateX(5px);
  color: #eeba5a;
  border: 1px solid #eeba5a;
}

.profileLoader{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45.7vh;
  padding: 20px; 
}

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-size: 40px;
  font-family: system-ui,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background: 
    linear-gradient(-60deg,#0000 45%,#000 0 55%,#0000 0) 
    0/300% 100% no-repeat text;
  animation: l3 2s linear infinite;
}
.loader:before {
  content: "Loading";
}
@keyframes l3 {
  0%{background-position: 100%}
}