.containerImg{
    background-image: linear-gradient(rgba(255, 255, 255, 0.096), rgba(255, 255, 255, 0.089)),url("../../../public/images/HomeBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 65vh;
    width: 100%;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.TextContainer{
    font-size: 24px;
    font-weight: bold;
    background-color: #7f7d7f91;
    border-radius: 30px;
    width: 50%;
    margin-left: -25%;

}

.homeTitle{
        background-image: linear-gradient(#534324, #ffa600);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* Make the text color transparent to show the gradient */
        margin-top: -5%;
}

.img{
    max-width: 100px;
    max-height: 100px;
}

.homeH1{
    font-size: 3.5rem;
    text-align: center;
}

/* Card */
.concreteOrdersContainerCard {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40.2vh;
    margin: 40px;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap; /* يجعل العناصر تتكيف مع أحجام الشاشات الأصغر */
}

.expressOrdersCardMedia {
    background-image: url('../../../public/images/expressOrders.png');
    background-size: 50vh ; 
    background-position: center;
}

.customOrdersCardMedia {
    background-image: url('../../../public/images/customOrders.png');
    background-size: cover;
    background-position: center;
}

.cardContent {
    background-color: #7f7d7f;
    text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .concreteOrdersCard {
        flex-direction: column; /* العناصر تتحول إلى عمودي للشاشات الصغيرة */
        gap: 20px;
        width: auto;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .expressOrdersCardMedia {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .cardContent {
        font-size: 14px; /* تصغير النص للشاشات الصغيرة */
    }
}
