::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #7f7d7f;
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #313131;
}
